body {
  text-align: center;
  box-sizing: border-box;
}

#color-palette {
  margin: 0;
  padding: 0;
}

.color {
  border: 1px solid black;
  height: 40px;
  width: 40px;
}

.black {
  background-color: black;
  display: inline-block;
}

.red {
  display: inline-block;
  background-color: red;
}

.blue {
  display: inline-block;
  background-color: blue;
}

.yellow {
  display: inline-block;
  background-color: yellow;
}

.white {
  display: inline-block;
  background-color: white;
}

.pixel {
  display: inline-block;
  border: 1px solid black;
  width: 40px;
  height: 40px;
  margin-bottom: -4px;
}

#pixel-board {
  margin: 20px auto;
}

#clear-board{
  margin-top: 20px;
}

.input {
  margin-top: 20px;
}
